* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

#menu {
    width: 100%;
    background-color: lightcoral;
    height: 75px;
}

button {
    height: 50px;
    width: 50px;
    background-color: red;
    font-size: 20px;
}

.player-ready {
    background-color: green;
}

#game-container {
    display: grid;
    background-color: lightblue;
    padding: 20px;
    gap: 5px;
    grid-template-columns: repeat(10, 8vw);
}

.cell {
    background-color: blue;
    width: 8vw;
    height: 8vh;
}

.boat {
    background-color: #373737;
}

.confirmed {
    background-color: black;
}

.fog {
    background-color: darkblue;
}

.target {
    background-color: red;
}

.boat-hit {
    background-color: red;
    border-color: black;
}

.miss {
    background-color: whitesmoke;
}

.highlight-cell {
    box-shadow: 5px 5px 5px #00aaff;
}

.highlight-fog {
    background-color: orange;
}
