@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background-color: rgb(208, 208, 208);
    font-family: 'Roboto Mono', monospace;
}

/* Title */
h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
}

/* Menu bar */
#menu {
    width: 100%;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
}

h2 {
    background-color: darkgrey;
    padding-top: 1rem;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: green;
    font-size: 20px;
}

.player-ready {
    background-color: red;
}

/* Start page */
#rule-container {
    margin: auto;
    width: 81vmin;
    height: 81vmin;
    background-color: lightblue;
}

#rule-container * {
    padding: 10px;
    text-align: center;  
    background-color: lightblue;
}

/* Game grid */
#game-container {
    margin: auto;
    display: grid;
    background-color: lightblue;
    padding: 20px;
    gap: 5px;
    width: 81vmin;
    height: 81vmin;
    grid-template-columns: repeat(10, minmax(20px, 1fr));
    grid-template-rows: repeat(10, minmax(20px, 1fr));
}

#middle-line {
    height: 5px;
    background-color: red;
    width: 81vmin;
    margin: auto;
    position: relative;
    bottom: 40.85vmin;
}

/* Grid cell states */
img {
    max-width:100%;
    max-height:100%;
}

.cell {
    background-color: blue;
}

.boat {
    background-color: #373737;
}

.confirmed {
    background-color: black;
}

.fog {
    background-color: darkblue;
}

.target {
    background-color: red;
}

.boat-hit {
    background-color: red;
    border-color: black;
}

.miss {
    background-color: whitesmoke;
}

.highlight-cell {
    box-shadow: 5px 5px 5px #00aaff;
    text-align: center;
    vertical-align: middle;
}

.highlight-fog {
    background-color: orange;
}

/* Media queries */
/* For medium screen sizes from 350px wide and down*/

@media screen and (max-width: 350px) {
    #game-container {
        padding: 10px;
    }
}